% rebase('osnova.html', naslov=film)

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title">{{film}} ({{film.leto}})</h1>
        </div>
    </div>
    % if uporabnik.admin:
    <div class="level-right">
        <div class="level-item">
            <a href="/filmi/uredi/{{film.id}}/" class="button is-primary">Uredi</a>
        </div>
        <div class="level-item">
            <form action="/filmi/izbrisi/{{film.id}}/" method="POST">
                <button class="button is-danger" onclick="return confirm('Ali želiš res izbrisati film z ID-jem {{film.id}}?')">Izbriši</button>
            </form>
        </div>
    </div>
    % end
</div>

<div class="block">
    <ul>
        <li>Dolžina: {{film.dolzina}} minut</li>
        <li>Ocena: {{film.ocena}}/10</li>
        % if film.metascore:
        <li>Metascore: {{film.metascore}}</li>
        % end
        <li>Glasovi: {{film.glasovi}}</li>
        % if film.zasluzek:
        <li>Zaslužek: {{film.zasluzek}}</li>
        % end
        % if film.oznaka:
        <li>Oznaka: {{film.oznaka}}</li>
        % end
        % if film.stevilo_komentarjev:
        <li>Ocena uporabnikov: {{film.ocena_uporabnikov}} (število ocen: {{film.stevilo_komentarjev}})</li>
        % end
    </ul>
</div>

% if film.opis:
<div class="block">
    <h2 class="subtitle">Opis</h2>
    <p>{{film.opis}}</p>
</div>
% end

% if uporabnik.admin and sprememba:
<div class="notification is-warning is-light">
    <button class="delete"></button>
    Spremembe zasedbe še niso shranjene!
</div>
% end

<div class="columns">
    <div class="column">
        <h2 class="subtitle">Igralci</h2>
        <form action="/zasedba/dodaj/{{film.id}}/I/" method="GET">
            <div class="field has-addons">
                <div class="control">
                    <input class="input" name="ime" type="text" placeholder="Vnesi ime osebe" required>
                </div>
                <div class="control">
                    <button class="button is-primary">
                      Dodaj igralca
                    </button>
                </div>
            </div>
        </form>
        <ol>
            % for i, vloga in enumerate(zasedba['I'], 1):
            <li>
                <div class="level">
                    <div class="level-left">
                        % if uporabnik.admin:
                        <div class="level-item">
                            <form action="/zasedba/izbrisi/{{film.id}}/I/{{i}}/" method="POST">
                                <button class="button is-danger is-small"
                                        onclick="return confirm('Ali želiš res izbrisati igralca z ID-jem {{vloga.oseba.id}} iz zasedbe filma z ID-jem {{film.id}}?')">
                                    <span class="icon is-small">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </button>
                            </form>
                        </div>
                        <div class="level-item">
                            <form action="/zasedba/gor/{{film.id}}/I/{{i}}/" method="POST">
                                <button class="button is-primary is-small" {{'disabled' if i == 1 else ''}}>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-up"></i>
                                    </span>
                                </button>
                            </form>
                        </div>
                        <div class="level-item">
                            <form action="/zasedba/dol/{{film.id}}/I/{{i}}/" method="POST">
                                <button class="button is-primary is-small" {{'disabled' if i == len(zasedba['I']) else ''}}>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </button>
                            </form>
                        </div>
                        % end
                        <div class="level-item">
                            <a href="/osebe/oseba/{{vloga.oseba.id}}/">{{vloga.oseba}}</a>
                        </div>
                    </div>
                </div>
            </li>
            % end
        </ol>
    </div>
    <div class="column">
        <h2 class="subtitle">Režiserji</h2>
        <form action="/zasedba/dodaj/{{film.id}}/R/" method="GET">
            <div class="field has-addons">
                <div class="control">
                    <input class="input" name="ime" type="text" placeholder="Vnesi ime osebe" required>
                </div>
                <div class="control">
                    <button class="button is-primary">
                      Dodaj režiserja
                    </button>
                </div>
            </div>
        </form>
        <ol>
            % for i, vloga in enumerate(zasedba['R'], 1):
            <li>
                <div class="level">
                    <div class="level-left">
                        % if uporabnik.admin:
                        <div class="level-item">
                            <form action="/zasedba/izbrisi/{{film.id}}/R/{{i}}/" method="POST">
                                <button class="button is-danger is-small"
                                        onclick="return confirm('Ali želiš res izbrisati režiserja z ID-jem {{vloga.oseba.id}} iz zasedbe filma z ID-jem {{film.id}}?')">
                                    <span class="icon is-small">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </button>
                            </form>
                        </div>
                        <div class="level-item">
                            <form action="/zasedba/gor/{{film.id}}/R/{{i}}/" method="POST">
                                <button class="button is-primary is-small" {{'disabled' if i == 1 else ''}}>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-up"></i>
                                    </span>
                                </button>
                            </form>
                        </div>
                        <div class="level-item">
                            <form action="/zasedba/dol/{{film.id}}/R/{{i}}/" method="POST">
                                <button class="button is-primary is-small" {{'disabled' if i == len(zasedba['R']) else ''}}>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down"></i>
                                    </span>
                                </button>
                            </form>
                        </div>
                        % end
                        <div class="level-item">
                            <a href="/osebe/oseba/{{vloga.oseba.id}}/">{{vloga.oseba}}</a>
                        </div>
                    </div>
                </div>
            </li>
            % end
        </ol>
    </div>
</div>

% if uporabnik.admin and sprememba:
<div class="level">
    <div class="level-left">
        <div class="level-item">
            <form action="/zasedba/shrani/{{film.id}}/" method="POST">
                <button class="button is-primary"
                        onclick="return confirm('Ali želiš res shraniti zasedbo filma z ID-jem {{film.id}}?')">
                    Shrani
                </button>
            </form>
        </div>
        <div class="level-item">
            <form action="/zasedba/preklici/{{film.id}}/" method="POST">
                <button class="button is-danger"
                        onclick="return confirm('Ali želiš res prekicati spremembe zasedbe filma z ID-jem {{film.id}}?')">
                    Prekliči spremembe
                </button>
            </form>
        </div>
    </div>
</div>
% end

% if film.stevilo_komentarjev:
    % for komentar in film.komentarji():
    <div class="block">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">{{komentar.uporabnik}}, ocena {{komentar.ocena}}</p>
                % if uporabnik.admin:
                <form action="/filmi/izbrisi_komentar/{{film.id}}/{{komentar.id}}/" method="POST">
                    <button class="card-header-icon" aria-label="Izbriši" onclick="return confirm('Ali želiš izbirsati komentar z ID {{komentar.id}}?')">
                        <span class="icon has-text-danger">
                            <i class="fas fa-trash" aria-hidden="true"></i>
                        </span>
                    </button>
                </form>
                % end
            </header>
            <div class="card-content">
                {{komentar.vsebina}}<br />
                <time datetime="{{komentar.cas}}">{{komentar.cas}}</time>
            </div>
        </div>
    </div>
    % end
% end

% komentar = Komentar(**preberi_obrazec(f"filmi-film-{film.id}"))
% if uporabnik:
<div class="block">
    <h2 class="subtitle">Dodaj komentar</h2>
    <form action="/filmi/film/{{film.id}}/" method="POST">
        <div class="field">
            <label class="label">Ocena</label>
            <p class="control">
                <input type="range" name="ocena" min="0" max="10" value="{{komentar.ocena}}" />
            </p>
        </div>
        <div class="field">
            <label class="label">Komentar</label>
            <p class="control">
                <textarea class="textarea" name="vsebina" placeholder="Vnesi svoj komentar">{{komentar.vsebina}}</textarea>
            </p>
        </div>
        <div class="field">
            <p class="control">
                <button class="button is-success">
                    Dodaj komentar
                </button>
            </p>
        </div>
    </form>
</div>
% end
