body {
    background-color: lightgray;
}

h1 {
    color: green;
    text-align: center;
}

h3 {
    color: red;
}

.moder {
    color: blue !important;
}

.poseven {
    font-style: italic;
    font-variant: small-caps;
}

#vrh {
    font-size: large;
    text-shadow: 2px 2px;
}

li.moder {
    text-decoration: underline;
}

li .moder {
    background-color: #ff7f00;
}

p a {
   color: darkgreen;
   text-decoration: underline;
}
